<div class="col-12">
    <div id="filters" class="collapse">
        <form method="get">
            <div class="col-12">
                <div class="form-group">
                    <label for="filters-search">{{ 'Search'|trans }}</label>
                    <input name="search" value="{{ app.request.query.get('search') }}" type="text" class="form-control"
                           id="filters-search">
                </div>
            </div>
            {% if dateFilter is defined and dateFilter == 'true' %}
                <div class="col-12">
                    <div class="form-group">
                        <label for="filters-start-date">{{ 'Start date'|trans }}</label>
                        <input name="start_date" value="{{ app.request.query.get('start_date') }}" type="text"
                               class="form-control" id="filters-start-date">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="filters-start-date">{{ 'End date'|trans }}</label>
                        <input name="end_date" value="{{ app.request.query.get('end_date') }}" type="text"
                               class="form-control" id="filters-end-date">
                    </div>
                </div>
            {% endif %}

            {% block customFilters %}{% endblock %}

            <div class="col-12">
                <div class="form-group">
                    <label for="limit">{{ 'Limit'|trans }}</label>
                    {% set limitValues = [12, 50, 100, 200, 500] %}
                    <select name="limit" class="form-control" id="limit">
                        {% for limit in limitValues %}
                            <option {% if app.request.query.get('limit', 12) == limit %}selected{% endif%} value="{{ limit }}">{{ limit }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% if app.request.query.has('page') %}
                <input type="hidden" name="page" value="{{ app.request.query.get('page') }}">
            {% endif %}
            {% if app.request.query.has('sort') %}
                <input type="hidden" name="sort" value="{{ app.request.query.get('sort') }}">
            {% endif %}
            {% if app.request.query.has('direction') %}
                <input type="hidden" name="direction" value="{{ app.request.query.get('direction') }}">
            {% endif %}
            <div class="col-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search">
                    <a class="btn btn-danger" href="{{ path(app.request.get('_route')) }}">{{ 'Clear filters'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
</div>