<script src="https://cdn.tiny.cloud/1/{{ env('TINY_MCE_API_KEY') }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    const selector = '{{ selector }}';
    tinymce.init({
        selector: '#' + selector,
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table directionality',
            'emoticons paste textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        valid_elements: '+*[*]',
        width: '100%',
        keep_styles: true,
        extended_valid_elements: '+*[*]',
        custom_elements: '*',
        invalid_elements: '',
        image_advtab: true,
        verify_html: false,
        height: '500'
    });
</script>
