{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_home %}active{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('site-home') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('site-home') }}
{% endblock %}


{% block content %}
    <div id="banners-carousel" class="carousel slide main-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
                {% set banner = transEntity(banner) %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <img src="{{ asset(banner.file ? banner.file.relativePath : '') }}" class="d-block w-100" alt="{{ banner.altText }}">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#banners-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'Previous'|trans }}</span>
        </a>
        <a class="carousel-control-next" href="#banners-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'Next'|trans }}</span>
        </a>
    </div>
{#    <div class="product-row">#}
{#        <div class="row justify-content-center mb-3">#}
{#            <div class="col-12 text-center">#}
{#                <div class="title">{{ 'Products on sale'|trans }}</div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="container product-row-slider d-flex align-items-stretch">#}
{#            {% for product in saleProducts %}#}
{#                <div class="px-1">#}
{#                    {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}{% endembed %}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
    <div class="product-row">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <div class="title">{{ 'Top sales'|trans }}</div>
            </div>
        </div>
        <div class="container product-row-slider">
            {% for product in topProducts %}
                <div class="px-1">
                    {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}{% endembed %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-row">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <div class="title">{{ 'New products'|trans }}</div>
            </div>
        </div>
        <div class="container product-row-slider">
            {% for product in newProducts %}
                <div class="px-1">
                    {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}{% endembed %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-row">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <div class="title">{{ 'Coming soon'|trans }}</div>
            </div>
        </div>
        <div class="container product-row-slider">
            {% for product in soonProducts %}
                <div class="px-1">
                    {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}{% endembed %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container brands">
        <div class="row justify-content-center text-center mb-3">
            <div class="title">{{ 'Brands'|trans }}</div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="container-fluid brands-slider">
                {% for brand in brands %}
                    {% set brand = transEntity(brand) %}
                        <div class="px-1">
                            <img alt="{{ brand.altText }}" src="{{ asset(brand.image ? brand.image.relativePath : '') }}" class="img-fluid shadow">
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}