#js-desktop-mobile-header {
  .menu-item {
    color: black;

    &:hover {
      color: #9E0909;
    }
  }
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #9E0909;
  }
}

.user-ui-container {
  i {
    color: #9E0909;
  }
}

.user-menu {
  background-color: #F8F9FA;

  .user-dropdown-menu {
    .user-dropdown-item {
      margin-top: 8px;
      padding-left: 10px;
      padding-right: 10px;
      color: #020000;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        color: #9E0909;
        background-color: inherit;
      }
    }

    .user-dropdown-item.active {
      color: #9E0909;
      background-color: inherit;
    }
  }
}

.ui-title {
  font-size: 1.5rem;
  font-weight: 700;
}

#registration-form, #change-password-form {
  label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .badge, .form-error-message {
    color: #9E0909;
  }
}

.slick-prev:before {
  color: black!important;
}

.slick-next:before {
  color: #000000 !important;
}