{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_menu %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_menu_links_create_translation', {'id': link.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in link.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale }}</td>
                                                <td>{{ translation.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_menu_links_edit_translation', {'id': link.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_menu_links_remove_translation', {'id': link.id, 'transId': translation.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Image'|trans }}</h5>
                </div>
                <div class="card-body">
                    {% if not link.image %}
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_menu_links_create_image', {'id': link.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add image'|trans }}</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if link.image %}
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_menu_links_create_image_translation', {'id': link.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if link.image %}
                        <div class="row">
                            <div class="col-12">
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered text-center mt-3">
                                            <thead class="text-uppercase bg-primary">
                                            <tr>
                                                <th>{{ 'Locale'|trans }}</th>
                                                <th>{{ 'Alternative text'|trans }}</th>
                                                <th>{{ 'Image'|trans }}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="tr-hover">
                                                    <td>{{ link.image.locale }}</td>
                                                    <td>{{ link.image.altText }}</td>
                                                    <td>
                                                        <img width="64px" height="64px" src="{{ asset(link.image.file ? link.image.file.relativePath : '') }}">
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin_menu_links_edit_image', {'id': link.id}) }}"><i class="ti-pencil"></i></a>
                                                        <a  class="js-delete-modal" href="{{ path('admin_menu_links_remove_image', {'id': link.id}) }}"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                                {% for translation in link.image.translations %}
                                                    <tr class="tr-hover">
                                                        <td>{{ translation.locale }}</td>
                                                        <td>{{ translation.altText }}</td>
                                                        <td>
                                                            <img width="64px" height="64px" src="{{ asset(translation.file ? translation.file.relativePath : '') }}">
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('admin_menu_links_edit_image_translation', {'id': link.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                            <a  class="js-delete-modal" href="{{ path('admin_menu_links_remove_image_translation', {'id': link.id, 'transId': translation.id}) }}"><i class="ti-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

