{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_menu %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_menu_links_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}
                                    {% block customFilters %}
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-static-parent">{{ 'Static parent'|trans }}</label>
                                                {% set parents = [
                                                    constant('App\\Domain\\Entity\\Menu\\MenuLink::STATIC_PARENT_DESKTOP_HEADER'),
                                                    constant('App\\Domain\\Entity\\Menu\\MenuLink::STATIC_PARENT_DESKTOP_HEADER_CATEGORIES'),
                                                    constant('App\\Domain\\Entity\\Menu\\MenuLink::STATIC_PARENT_FOOTER'),
                                                    constant('App\\Domain\\Entity\\Menu\\MenuLink::STATIC_PARENT_MOBILE_DROPDOWN')
                                                ] %}
                                                <select name="static_parent" id="filters-static-parent" class="form-control">
                                                    <option value="">{{ 'Not set'|trans }}</option>
                                                    {% for parent in parents %}
                                                        <option {% if app.request.query.get('static_parent', '') == parent %}selected{% endif%} value="{{ parent }}">{{ parent|trans }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(links, 'Id'|trans, 'l.id') }}</th>
                                            <th>{{ 'Parent element'|trans }}</th>
                                            <th>{{ knp_pagination_sortable(links, 'Name'|trans, 'l.name') }}</th>
                                            <th>{{ knp_pagination_sortable(links, 'Url'|trans, 'l.url') }}</th>
                                            <th>{{ knp_pagination_sortable(links, 'Order index'|trans, 'l.orderIndex') }}</th>
                                            <th>{{ knp_pagination_sortable(links, 'Is visible'|trans, 'l.isVisble') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for link in links %}
                                            <tr class="tr-hover">
                                                <td>{{ link.id }}</td>
                                                <td>
                                                    {% if link.staticParent %}
                                                        {{ link.staticParent|trans }}
                                                    {% elseif link.parent %}
                                                        <a href="{{ path('admin_menu_links_edit', {'id': link.parent.id}) }}" class="custom-color text-info">{{ link.parent.name }}</a>
                                                    {% else %}
                                                        {{ 'Not set'|trans }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ link.name }}</td>
                                                <td>{{ link.url }}</td>
                                                <td>{{ link.orderIndex }}</td>
                                                <td>{{ link.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_menu_links_edit', {'id': link.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_menu_links_remove', {'id': link.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(links, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}