{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_variables %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'External key'|trans }}</th>
                                            <th>{{ 'Value'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for var in vars %}
                                            <tr class="tr-hover">
                                                <td>{{ var.externalKey|upper }}</td>
                                                <td>{{ var.value }}</td>
                                                <td>
                                                    <a href="{{ path('admin_static_var_edit', {'id': var.id}) }}"><i class="ti-pencil"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
