{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_specifications %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_specifications_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}{% endembed %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(specifications, 'Id'|trans, 's.id') }}</th>
                                            <th>{{ knp_pagination_sortable(specifications, 'Name'|trans, 's.name') }}</th>
                                            <th>{{ knp_pagination_sortable(specifications, 'Is visible'|trans, 's.isVisble') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for specification in specifications %}
                                            <tr class="tr-hover">
                                                <td>{{ specification.id }}</td>
                                                <td>{{ specification.name }}</td>
                                                <td>{{ specification.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_specifications_edit', {'id': specification.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_specifications_remove', {'id': specification.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(specifications, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}