<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block pageTitle %}{{ 'Title-Boxing'|trans }}{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{% endblock %}">
        <meta name="title" content="{% block metaTitle %}{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-public-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">

        {% block stylesheets %}
            {{ encore_entry_link_tags('site') }}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NQTYB4BXD6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-NQTYB4BXD6');
        </script>

        {% set req = app.request %}
        {% for locale in ['ua', 'ru', 'uk'] %}
            {% if locale != req.getLocale() %}
                <link rel="alternate" hreflang="{{ locale }}" href="{{
                absolute_url(
                    path(
                        req.attributes.get('_route'),
                        req.attributes.get('_route_params')|merge({'_locale': locale})
                    )
                ) }}" />
            {% endif %}
        {% endfor %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% embed '_js_globals.html.twig' %}{% endembed %}
            {{ encore_entry_script_tags('site') }}
        {% endblock %}
    </body>
</html>
