{% extends 'site/base.html.twig' %}

{% block body %}
    <div id="page">
        {% if isDeviceMobile() %}
        <header id="js-desktop-mobile-header">
            <div class="container-fluid shadow">
                <div class="container p-3">
                    <div class="row justify-content-between">
                        <div class="col-6 d-flex text-center">
                            <a class="my-auto" href="{{ path('site_index') }}">
                                <img class="img-fluid logo" src="{{ asset('images/Logo.png') }}">
                            </a>
                        </div>
                        <div class="col-6 p-2 menu">
                            <div class="row text-end">
                                <div class="col-3 p-0">
                                    <div class="dropdown">
                                        <a href="#" class="menu-item" data-bs-toggle="dropdown">
                                            <span>
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu" style="min-width: 20rem">
                                            <div class="sub-title px-3">{{ 'Search phrase'|trans }}</div>
                                            <form method="get" action="{{ path('site_catalog_index') }}">
                                                <div class="dropdown-item">
                                                    <input class="form-control" type="text" name="catalog_search" placeholder="{{ 'Search phrase'|trans }}">
                                                </div>
                                                <div class="px-3 mt-2">
                                                    <input class="btn btn-sm btn-dark" type="submit" value="{{ 'Search'|trans }}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 p-0">
                                    <div class="dropdown">
                                        <a href="#" class="menu-item" data-bs-toggle="dropdown">
                                            <span>
                                                <i class="fa fa-phone"></i>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item"
                                                   href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_1')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_1')) }}</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_2')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_2')) }}</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_3')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_3')) }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3 p-0">
                                    <a href="{{ path('site_cart_index') }}" class="menu-item">
                                        <span>
                                            <i class="fa fa-shopping-cart"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="col-3 p-0">
                                    <a href="#" class="menu-item menu-dropdown-toggle">
                                        <span class="icon-holder" data-init-icon="fa fa-align-justify">
                                            <i class="fa fa-align-justify"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid mobile-dropdown text-center px-0">
                        {% for link in mobileLinks %}
                            {% if link.isVisible %}
                                {% set link = transEntity(link) %}
                                <a class="dropdown-item" href="{{ link.url }}">
                                    {{ link.name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        <div class="languages">
                            <span class="lang-item">
                                <a href="{{ path('site_index', {'_locale': 'ru'}) }}">
                                    RU
                                </a>
                            </span>
                            <span class="lang-item">
                                <a href="{{ path('site_index', {'_locale': 'uk'}) }}">
                                    UA
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% else %}
        <header id="js-desktop-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="row justify-content-between w-100">
                        <div class="col-4 mt-05">
                            <div class="row">
                                <div class="col-12 text-center header-links">
                                    <span class="dropdown dropleft">
                                    <a href="#" data-bs-toggle="dropdown">
                                        <img class="lang-flag" width="16px" height="10px"
                                             src="{{ asset('images/flags/'~ app.request.locale ~'.png') }}">{{ 'Language'|trans }}
                                    </a>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        {% set route = app.request.attributes.get('_route') %}
                                        {% set route_params = app.request.attributes.get('_route_params') %}
                                        {% set params = route_params|merge(app.request.query.all) %}

                                        <a class="dropdown-item"
                                           href="{{ path(route, params|merge({ _locale: 'uk' })) }}">
                                            <img class="lang-flag" width="16px" height="10px"
                                                 src="{{ asset('images/flags/uk.png') }}"> {{ 'Ukrainian'|trans }}
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path(route, params|merge({ _locale: 'ru' })) }}">
                                            <img class="lang-flag" width="16px" height="10px"
                                                 src="{{ asset('images/flags/ru.png') }}"> {{ 'Russian'|trans }}
                                        </a>
                                    </div>
                                    </span>
                                    <span>
                                        <a href="{{ path('user_profile_index') }}">
                                            <i class="far fa-user"></i>{{ 'Profile'|trans }}
                                        </a>
                                    </span>
                                    <span>
                                        <a href="{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_INSTAGRAM_LINK')) }}">
                                            <i class="fab fa-instagram"></i>{{ 'Instagram'|trans }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <a href="{{ path('site_index') }}">
                                <img class="img-fluid logo" src="{{ asset('images/Logo.png') }}">
                            </a>
                        </div>
                        <div class="col-4 mt-05">
                            <div class="row">
                                <div class="col-12 text-center header-links">
                                    <span class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown">
                                            <i class="fa fa-mobile-alt"></i>{{ 'Call us'|trans }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_1')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_1')) }}</a>
                                            <a class="dropdown-item"
                                               href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_2')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_2')) }}</a>
                                            <a class="dropdown-item"
                                               href="tel:{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_3')) }}">{{ sVar(constant('App\\Domain\\Entity\\Site\\StaticVar::KEY_PHONE_3')) }}</a>
                                        </div>
                                    </span>
                                    <span>
                                        <a href="{{ path('site_cart_index') }}"><i
                                                    class="fa fa-shopping-cart"></i>{{ 'Cart'|trans }}</a>
                                    </span>
                                    <span class="dropdown dropstart">
                                        <a href="#" data-bs-toggle="dropdown">
                                            <i class="fa fa-search"></i>{{ 'Search'|trans }}
                                        </a>
                                        <div style="min-width: 23rem" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="sub-title px-3">{{ 'Search phrase'|trans }}</div>
                                            <form method="get" action="{{ path('site_catalog_index') }}">
                                                <div class="px-3">
                                                    <input class="form-control" type="text" name="catalog_search" placeholder="{{ 'Search phrase'|trans }}">
                                                </div>
                                                <div class="px-3 mt-2">
                                                    <input class="btn btn-sm btn-dark" type="submit" value="{{ 'Search'|trans }}">
                                                </div>
                                            </form>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid sub-header-menu shadow">
                <div class="row justify-content-center text-center align-items-center">
                    <div class="col menu-element categories-dropdown-toggle">
                        <span class="menu-element-title" aria-haspopup="true" aria-expanded="false">
                            {{ 'Categories'|trans }}
                        </span>
                    </div>
                    {% for link in headerLinks %}
                        {% if link.isVisible %}
                            {% set link = transEntity(link) %}
                            <div class="col menu-element">
                                <a class="menu-element-title" href="{{ link.url }}">
                                    {{ link.name }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="container-fluid shadow-lg categories-dropdown">
                <div class="row" style="padding-left: 3rem">
                    <div class="col-3 py-0">
                        <div id="categories-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for link in categoriesLinks %}
                                {% if link.isVisible %}
                                    {% set link = transEntity(link) %}
                                    <a href="{{ link.url }}"
                                       {% if link.subLinks|length > 0 %}data-target="#categories-sub-menu-{{ link.id }}"{% endif %}
                                       class="dropdown-item {% if link.subLinks|length > 0 %}sub-menu-parent{% endif %}">
                                        <span>{{ link.name }}</span>
{#                                        {% if link.subLinks|length > 0 %}<i class="fa fa-arrow-right"></i>{% endif %}#}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% for link in categoriesLinks %}
                        {% if link.isVisible and (link.subLinks|length > 0) %}
                            {% set link = transEntity(link) %}
                            <div class="col-9 p-0 sub-menu-container" id="categories-sub-menu-{{ link.id }}">
                                <div class="row" style="height: 100%">
                                    <div class="col-8">
                                        <div class="categories-dropdown-sub-menu py-3"
                                             aria-labelledby="dropdownMenuButton">
                                            <h6 class="category-title">{{ link.name }}</h6>
                                            {% for subLink in link.subLinks %}
                                                {% if subLink.isVisible %}
                                                    {% set subLink = transEntity(subLink) %}
                                                    <a class="dropdown-item"
                                                       href="{{ subLink.url }}">{{ subLink.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-4 my-auto" style="padding-left: 0">
                                        <div class="row justify-content-center image-container">
                                            {% set img = transEntity(link.image) %}
                                            <img alt="{{ img.altText }}"
                                                 src="{{ asset(img.file ? img.file.relativePath : '') }}" class="img"
                                                 style="padding-left: 0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </header>
        {% endif %}

        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-11">
                        <div class="row justify-content-center">
                            {% for link in footerLinks %}
                                {% if link.isVisible %}
                                    {% set link = transEntity(link) %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 text-left footer-links mt-3">
                                        <div class="sub-title mt-1">{{ link.name }}</div>
                                        {% for subLink in link.subLinks %}
                                            {% if subLink.isVisible %}
                                                {% set subLink = transEntity(subLink) %}
                                                <div>
                                                    <a href="{{ subLink.url }}">{{ subLink.name }}</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 text-center mt-3 mb-3">
                        Copyright &copy;{{ ''|date('Y') }} {{ 'All rights reserved'|trans }}.
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="toast-container"></div>
{% endblock %}