{% extends 'admin/admin_layout.html.twig' %}

{% block pageTitle %}
    <a href="{{ path('admin_products_edit', {'id': product.id}) }}">{{ 'Back to product'|trans }}</a>
{% endblock %}
{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Values'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_specifications_create_value', {'id': product.id, 'productSpecificationId': productSpecification.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add value'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Related specification value'|trans }}</th>
                                            <th>{{ 'Availability'|trans }}</th>
                                            <th>{{ 'Price difference'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for productSpecificationValue in productSpecification.values %}
                                            <tr class="tr-hover">
                                                <td>{{ productSpecificationValue.relatedSpecificationValue.name }}</td>
                                                <td>{{ productSpecificationValue.availability|trans }}</td>
                                                <td>{{ productSpecificationValue.priceDifference|number_format }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_specifications_edit_value', {'id': product.id, 'productSpecificationId': productSpecification.id, 'productSpecificationValueId': productSpecificationValue.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_product_specifications_remove_value', {'id': product.id, 'productSpecificationId': productSpecification.id, 'productSpecificationValueId': productSpecificationValue.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

