@media (max-width: 640px) {
  html {
    font-size: 11px;
  }

  .btn {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .sub-title {
    font-weight: 500;
  }
}


.react-numeric-input {
  display: inline-block!important;
  width: 40%!important;
  margin-left: 3px;

  input {
    height: 30%!important;
  }
}