{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_pages %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_pages_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}{% endembed %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(pages, 'Id'|trans, 'p.id') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Name'|trans, 'p.name') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Is static'|trans, 'p.isStatic') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Static type'|trans, 'p.staticType') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Slug'|trans, 'p.slug') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Is visible'|trans, 'p.isVisble') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for page in pages %}
                                            <tr class="tr-hover">
                                                <td>{{ page.id }}</td>
                                                <td>{{ page.name }}</td>
                                                <td>{{ page.isStatic ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>{{ page.staticType|trans }}</td>
                                                <td>{{ page.slug }}</td>
                                                <td>{{ page.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_pages_edit', {'id': page.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% if not page.isStatic %}
                                                    <a href="{{ path('admin_pages_remove', {'id': page.id}) }}"><i class="ti-trash"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(pages, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}