{% set badge = '' %}
{% set badgeText = '' %}

{% if product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_SALE') %}
    {% set badge = 'sale' %}
    {% set badgeText = 'SALE' %}
{% endif %}

{% if product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_TOP') %}
    {% set badge = 'top' %}
    {% set badgeText = 'TOP' %}
{% endif %}

{% if product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_SOON') %}
    {% set badge = 'soon' %}
    {% set badgeText = 'SOON' %}
{% endif %}

{% if product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_NEW') %}
    {% set badge = 'new' %}
    {% set badgeText = 'NEW' %}
{% endif %}

{% if product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_PRE_ORDER') %}
    {% set badge = 'pre-order' %}
    {% set badgeText = 'PREORDER' %}
{% endif %}

{% set product = transEntity(product) %}

<div class="product-card card shadow {{ badge }} {% if product.marking != constant('App\\Domain\\Entity\\Product\\Product::MARKING_NONE') %}with-badge{% endif %}">
    <a href="{{ path('site_product_view', {'slug': product.slug}) }}">
        {% set img = product.previewImage %}
        {% if img %}
            {% set img = transEntity(img) %}
        {% endif %}
        <img src="{{ asset(img ? (img.file ? img.file.relativePath : '') : '') }}" class="card-img-top" alt="{{ img ? img.altText : '...' }}">
        <div class="card-body" style="height: 110px">
            {% if product.marking != constant('App\\Domain\\Entity\\Product\\Product::MARKING_NONE') %}
            <div class="row-badge">
                <span class="badge">{{ badgeText }}</span>
            </div>
            {% endif %}
            <p class="card-text text-center">{{ sliceString(product.name, 80) }}</p>
        </div>
        <div class="card-footer text-center text-dark">
            {% if product.marking != constant('App\\Domain\\Entity\\Product\\Product::MARKING_SALE') %}
            <span class="price">{{ product.price }} {{ 'uah.'|trans }}</span>
            {% else %}
                <span class="old-price">{{ product.price }} грн.</span>
                <span class="new-price text-danger">{{ product.salePrice|number_format() }} {{ 'uah.'|trans }}</span>
            {% endif %}
            {% block footer %}{% endblock %}
        </div>
    </a>
</div>
