{% extends 'site/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('user-ui') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('user-ui') }}
{% endblock %}

{% block content %}
    <div class="container user-ui-container">
        <div class="row mt-5">
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <div class="row px-3">
                    <div class="col-12 mb-3">
                        <div class="title">
                            {{ 'Pages'|trans }}
                        </div>
                    </div>
                    <div class="card shadow user-menu">
                        <div class="card-body px-0">
                            <div class="col-12 p-0">
                                <div class="user-dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="{{ path('user_profile_index') }}" class="user-dropdown-item {% block nav_profile %}{% endblock %}">
                                        <span>{{ 'My profile'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a href="{{ path('user_profile_edit_index') }}" class="user-dropdown-item {% block nav_info %}{% endblock %}">
                                        <span>{{ 'Change profile information'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a href="{{ path('user_profile_change_password_index') }}" class="user-dropdown-item {% block nav_password %}{% endblock %}">
                                        <span>{{ 'Change password'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a href="{{ path('user_liked_products_index') }}" class="user-dropdown-item {% block nav_liked_products %}{% endblock %}">
                                        <span>{{ 'Liked products'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a href="{{ path('user_orders_index') }}" class="user-dropdown-item {% block nav_history %}{% endblock %}">
                                        <span>{{ 'Orders history'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a data-bs-toggle="modal" data-bs-target="#logoutModal" class="user-dropdown-item" id="logoutButton">
                                        <span>{{ 'Logout'|trans }}</span><i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-12 mb-5">
                <div class="row px-3">
                    <div class="col-12">
                        {% block uiTitle %}{% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid px-3">
                        {% block ui %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Warning'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="sub-title">
                        {{ 'Are you sure, that you want to logout?'|trans }}
                    </div>
                    <div class="mt-3">
                        <a href="{{ '/logout' }}" class="btn btn-danger">{{ 'Logout'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}