{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('user-ui') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('user-ui') }}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5">
        <div class="row justify-content-center mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <form method="POST">
                                {% if error is defined and error %}
                                    <div class="text-center alert alert-danger mt-1 mb-5">
                                        {{ error.message }}
                                    </div>
                                {% endif %}
                                <div class="col-12 mb-3 text-center">
                                    <label for="login" class="sub-title">{{ 'Login'|trans }}</label>
                                    <input name="login" id="login" type="email" class="form-control" required>
                                </div>
                                <div class="col-12 mb-3 text-center">
                                    <label for="password" class="sub-title">{{ 'Password'|trans }}</label>
                                    <input name="password" id="password" type="password" class="form-control" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-check form-switch">
                                        <input name="_remember_me" class="form-check-input" type="checkbox" id="remember_me">
                                        <label class="form-check-label" for="remember_me">{{ 'Remember me?'|trans }}</label>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-dark">{{ 'Sign In'|trans }}</button>
                                    <a href="{{ path('user_send_reset_password_code') }}" class="btn btn-danger">{{ 'Forgot password?'|trans }}</a>
                                </div>
                            </form>
                            <div class="col-12 mt-3 text-center">
                                <div class="sub-title">
                                    {{ 'Do not have an account?'|trans }}
                                </div>
                                <a href="{{ path('user_registration') }}" class="btn btn-success">{{ 'Registration'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
{% endblock %}