{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('user-ui') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('user-ui') }}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5">
        <div class="row justify-content-center mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row justify-content-center" id="registration-form">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
{% endblock %}