{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const UAH_TEXT = '{{ 'uah.'|trans }}';
        const TOTAL_PRICE_TEXT = '{{ 'Total price'|trans }}';
        const CHECKOUT_TEXT = '{{ 'Checkout'|trans }}';
        const REMOVE_TEXT = '{{ 'Remove'|trans }}';
        const PRICE_TEXT = '{{ 'Price'|trans }}';
        const QUANTITY_TEXT = '{{ 'Qty'|trans }}';
        const EMPTY_CART_TEXT = '{{ 'There are 0 items in the cart...'|trans }}';

        const ROUTE_CHECKOUT = '{{ path('site_checkout_index') }}';
    </script>

    {{ encore_entry_script_tags('site-cart') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('site-cart') }}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5">
        <div class="row justify-content-center mt-3">
            <div class="col-xl-8 col-lg-10 col-md-12 col-12" id="cart"></div>
        </div>
    </div>
{% endblock %}