{% extends 'admin/admin_layout.html.twig' %}

{% block nav_users %}active{% endblock %}
{% block nav_users_list %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}{% endembed %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(users, 'id'|trans, 'u.id') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'user_login'|trans, 'u.login') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'Name'|trans, 'u.name') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'Surname'|trans, 'u.surname') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'Phone'|trans, 'u.phone') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'Email'|trans, 'u.email') }}</th>
                                            <th>{{ knp_pagination_sortable(users, 'creation_date'|trans, 'u.creationDate') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr class="tr-hover">
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.login }}</td>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.surname ? user.surname : 'not_defined'|trans }}</td>
                                                <td>{{ user.phone }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.creationDate|date('d.m.Y H:i:s') }}</td>
                                                <td>
                                                    <a href="{{ path('admin_users_edit', {'id': user.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a class="js-delete-modal" href="{{ path('admin_users_remove', {'id': user.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(users, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
