{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ page.pageTitle }}{% endblock %}
{% block metaTitle %}{{ page.metaTitle }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-12">{{ page.content|raw }}</div>
        </div>
    </div>
{% endblock %}