@import "misc";

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
}

#page {
  overflow-x: hidden;

  header {
    nav {
      margin: 0;
    }

    .header-links {
      button {
        font-weight: 600;

        &:hover {
          color: #9E0909;
          cursor: pointer;
        }
      }

      font-size: 1.1rem;
      font-weight: 600;

      .lang-flag {
        margin-right: 5px;
      }

      i {
        color: #9E0909;
        margin-right: 5px;
      }

      span:not(:first-child) {
        margin-left: 10px;
      }

      span {
        &:hover {
          color: #9E0909;
          cursor: pointer;
        }
      }
    }

    .sub-header-menu {
      background-color: #212529;
      height: 50px;

      .menu-element {
        border-left: solid 3px #ffffff;
        color: #ffffff;

        a {
          font-weight: 700;
          font-size: 1.1rem;
          color: #ffffff;
          text-decoration: none;

          &:hover {
            color: #9E0909;
            cursor: pointer;
          }
        }

        &:hover {
          color: #9E0909;
          cursor: pointer;
        }
      }

      .menu-element:last-child {
        border-right: solid 3px #ffffff;
      }

      .menu-element-title {
        font-weight: 700;
        font-size: 1.1rem;
      }

      .row {
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  main {
    background-color: #ffffff;
    min-height: 600px;
    margin: 0;
  }

  footer {
    background-color: #212529;
    border-top: solid 1px #c1bebe;
    color: #ffffff;
  }
}

.nav-locales {
  a:hover {
    color: #0dcaf0;
  }
}

@media (min-width: 1010px) {
  .product-row {
    margin-top: 35px;
  }

  #js-desktop-header {
    height: 70%;
  }

  header {
    nav {
      height: 100%;
    }
  }

  main {
    margin-top: 10px;
  }

  footer {
    padding: 20px;

    .footer-links {
      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: #9E0909;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  html {
    font-size: 15px;
  }

  header {
    nav {
      height: 115%;
    }
  }

  #js-desktop-mobile-header {
    .logo {
      min-height: 20px;
    }

    .menu {
      .menu-item {
        font-size: 1.3rem;

        span {
          padding: 4px;
        }
      }
    }

    .icon-holder.active {
      color: #9E0909;
      background-color: inherit;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    .mobile-dropdown {
      background-color: #212529;
      position: absolute;
      z-index: 9999;
      padding-bottom: 10px;
      display: none;

      .dropdown-item {
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
        border-bottom: solid 1px #a1a1a1;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
          color: #9E0909;
          background-color: inherit;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        }
      }

      .languages {
        padding-top: 10px;

        .lang-item:not(:last-child) {
          border-right: solid 2px #ffffff;
        }

        .lang-item:not(:first-child) {
          margin-left: 5px;
        }

        .lang-item {
          a {
            color: #ffffff;
            font-size: 1.4rem;

            &:hover {
              color: #9E0909;
              background-color: inherit;
              box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
            }
          }
        }
      }
    }
  }

  .sub-header-menu {
    .row {
      padding-right: 0 !important;
    }
  }

  .menu-element-title {
    font-weight: 600;
    font-size: .9rem !important;
  }

  .header-links {
    font-size: 0.9rem !important;
    font-weight: 600 !important;

    i {
      color: #9E0909;
      margin-right: 2px !important;
    }

    span:not(:first-child) {
      margin-left: 1px !important;
    }

    span {
      &:hover {
        color: #9E0909;
        cursor: pointer;
      }
    }
  }

  footer {
    .footer-links {
      font-size: 1.2rem;

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: #9E0909;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  html {
    font-size: 13px;
  }

  .logo {
    margin-top: .5rem;
  }
}


.product-row {
  margin-bottom: 50px;

  .card {
    padding-right: 0;
    padding-left: 0;

    &:hover {
      color: #9E0909;
      cursor: pointer;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
  }

  img {
    max-height: 240px;
  }

  .title {
    font-weight: 700;
    font-size: 1.8rem;
  }

  .line {
    height: 50px;
    background-color: #1b1e21;
  }
}

.with-badge {
  .row-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}

.brands {
  .title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  margin-top: 50px;
  margin-bottom: 50px;
}

.sale {
  .old-price {
    text-decoration: line-through;
  }

  .badge {
    background-color: #5C0000;
  }
}

.top {
  .badge {
    background-color: #005C00;
  }
}

.new {
  .badge {
    background-color: #09579E;
  }
}

.soon {
  .badge {
    background-color: #495057;
  }
}

.pre-order {
  .badge {
    background-color: #000000;
  }
}

#js-desktop-header {
  .categories-dropdown {
    background-color: #212529;
    position: absolute;
    z-index: 9999;
    display: none;

    .sub-menu-container:not(.active) {
      display: none;
    }

    .image-container {
      img {
        max-width: 350px;
      }
    }

    .categories-dropdown-sub-menu {
      height: 100%;
      background-color: #DEE2E6;

      .category-title {
        font-size: 1.6rem;
        font-weight: 700;
        padding-left: 15px;
      }

      .dropdown-item {
        font-size: 1.2rem;
        font-weight: 500;

        &:hover {
          color: #9E0909;
          background-color: inherit;
        }
      }
    }

    #categories-dropdown-menu {
      .dropdown-item {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
          color: #9E0909;
          background-color: inherit;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        }
      }

      .dropdown-item.active {
        color: #9E0909;
        background-color: inherit;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      }
    }
  }
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.sub-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.form-check-input:checked {
  background-color: #9E0909;
  border-color: #9E0909;
}

.btn-light {
  &:hover {
    color: #9E0909;
  }
}

.header-links {
  a {
    color: black!important;
    text-decoration: none!important;

    &:hover {
      color: #9E0909!important;
    }
  }
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #9E0909;
  }
}

.old-price, .new-price, .price {
  font-weight: 600;
  font-size: 1.3rem;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}

.product-row-slider {
  .card {
    margin-left: 10px;
  }
}

.custom-modal {
  .modal-header {
    background-color: #9E0909;

    .modal-title {
      font-size: 2rem;
      color: #DEE2E6;
    }

    .btn-close {
      font-size: 1.8rem;
      color: #FFFFFF;
    }

    .modal-body {
      color: #DEE2E6;
    }
  }
}

.pagination {
  .page-item, li {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    .page-link {
      font-weight: 600;
      color: #ffffff;
      background-color: black;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid black;

      &:hover {
        color: #9E0909;
      }
    }
  }
}

/**
 * Bootstrap overrides
 */
.card {
  background-color: #F8F9FA!important;
}

.btn-danger {
  background-color: #9E0909!important;
  border-color: #9E0909!important;
}