.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-05 {
  margin-top: 5px!important;
}
.z-index-top {
  z-index: 9999;
}
.ml-10 {
  margin-left: 10px;
}

.fw-600 {
  font-weight: 600;
}