{% extends 'admin/admin_layout.html.twig' %}

{% block nav_commerce %}active{% endblock %}
{% block nav_orders %}active{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('admin-orders') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('admin-orders') }}
{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.surname) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.phone) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.paymentType) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="mb-3">
                                {{ form_row(form.deliveryType) }}
                            </div>
                        </div>
                    </div>
                    <div class="row" id="courier-delivery-fields">
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.deliveryCity) }}
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.deliveryAddress) }}
                            </div>
                        </div>
                    </div>
                    <div class="row" id="nova-poshta-delivery-fields">
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.novaPoshtaCity) }}
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.novaPoshtaWarehouse) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.comment) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.status) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="mb-3">
                                {{ form_row(form.user) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-12 text-end">
                            <div class="mb-3">
                                {{ form_row(form.save) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-area">
                        <div class="invoice-head">
                            <div class="row">
                                <div class="iv-left col-6">
                                    <span>{{ 'Cart'|trans }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-table table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr class="text-capitalize">
                                    <th class="text-dark">{{ 'Product'|trans }}</th>
                                    <th class="text-left"></th>
                                    <th></th>
                                    <th class="text-dark">{{ 'Quantity'|trans }}</th>
                                    <th class="text-dark">{{ 'Total'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cartItem in cart.products %}
                                    {% set product = transEntity(cartItem.product) %}
                                    <tr>
                                        <td>{{ sliceString(product.name, 100) }}</td>
                                        <td></td>
                                        <td></td>
                                        <td>x {{ cartItem.quantity }}</td>
                                        <td>{{ cartItem.totalPrice|number_format() }} {{ 'uah.'|trans }}</td>
                                    </tr>
                                    {% for productSpecificationValue in cartItem.specificationValues %}
                                        {% set specification = transEntity(productSpecificationValue.relatedSpecificationValue.specification) %}
                                        {% set value = transEntity(productSpecificationValue.relatedSpecificationValue) %}
                                        <tr>
                                            <td></td>
                                            <td>{{ specification.name }}</td>
                                            <td>{{ value.name }}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">{{ 'Total'|trans }} :</td>
                                    <td>{{ cart.totalPrice|number_format() }} {{ 'uah.'|trans }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}