{% extends 'admin/admin_layout.html.twig' %}

{% block nav_commerce %}active{% endblock %}
{% block nav_orders %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_orders_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' with {'dateFilter': 'true'} %}
                                    {% block customFilters %}
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-status">{{ 'status'|trans }}</label>
                                                {% set statuses = [
                                                    constant('App\\Domain\\Entity\\Commerce\\Order::STATUS_NEW'),
                                                    constant('App\\Domain\\Entity\\Commerce\\Order::STATUS_CONFIRMED'),
                                                    constant('App\\Domain\\Entity\\Commerce\\Order::STATUS_DELIVERING'),
                                                    constant('App\\Domain\\Entity\\Commerce\\Order::STATUS_DONE')
                                                ] %}
                                                <select name="status" id="filters-status" class="form-control">
                                                    <option value="">{{ 'Not set'|trans }}</option>
                                                    {% for status in statuses %}
                                                        <option {% if app.request.query.get('status', '') == status %}selected{% endif%} value="{{ status }}">{{ status|trans }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-order-number">{{ 'Order number'|trans }}</label>
                                                <input name="order_number" value="{{ app.request.query.get('order_number') }}" type="text" class="form-control"
                                                       id="filters-order-number">
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(orders, 'id'|trans, 'o.id') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Order number'|trans, 'o.orderNumber') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'user'|trans, 'ou.id') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'status'|trans, 'o.status') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Name'|trans, 'o.name') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Surname'|trans, 'o.surname') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Phone'|trans, 'o.phone') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'delivery_type'|trans, 'o.deliveryType') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'payment_type'|trans, 'o.paymentType') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'creation_date'|trans, 'o.creationDate') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr class="tr-hover">
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.orderNumber }}</td>
                                                <td>
                                                    {% if order.user %}
                                                        <a class="text-info custom-color" href="#">{{ order.user ? order.user.name : 'not_defined'|trans }}</a>
                                                    {% else %}
                                                        <span class="text-danger">{{ 'not_defined'|trans }}</span>
                                                    {% endif%}
                                                </td>
                                                <td>{{ order.status|trans }}</td>
                                                <td>{{ order.name }}</td>
                                                <td>{{ order.surname ? order.surname : 'not_defined'|trans }}</td>
                                                <td>{{ order.phone }}</td>
                                                <td>{{ order.deliveryType|trans }}</td>
                                                <td>{{ order.paymentType|trans }}</td>
                                                <td>{{ order.creationDate|date('d.m.Y H:i:s') }}</td>
                                                <td>
                                                    <a href="{{ path('admin_orders_edit', {'id': order.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a class="js-delete-modal" href="{{ path('admin_orders_remove', {'id': order.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(orders, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
