{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('site-checkout') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('site-checkout') }}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3 mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-12 col-12">
                <div class="card shadow">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.surname) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.phone) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.paymentType) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.deliveryType) }}
                                </div>
                            </div>
                        </div>
                        <div class="row" id="courier-delivery-fields">
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.deliveryCity) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.deliveryAddress) }}
                                </div>
                            </div>
                        </div>
                        <div class="row" id="nova-poshta-delivery-fields">
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.novaPoshtaCity) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.novaPoshtaWarehouse) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="mb-3">
                                    {{ form_row(form.comment) }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-xl-4 col-lg-6 col-12 text-end">
                                <div class="mb-3">
                                    {{ form_row(form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 col-12 cart-container">
                <div class="card shadow">
                    <div class="card-body">
                        {% for cartProduct in cart.products %}
                            {% set product = transEntity(cartProduct.product) %}
                        <div class="row mb-3">
                            <div class="col-xl-2 col-lg-2 col-2">
                                <img class="img-fluid" src="{{ asset(product.previewImage ? product.previewImage.file ? product.previewImage.file.relativePath : '' : '') }}">
                            </div>
                            <div class="col-xl-5 col-lg-5 col-5">
                                {{ sliceString(product.name) }}
                            </div>
                            <div class="col-xl-5 col-lg-5 col-5">
                                <div class="container-fluid">
                                    <div class="row">
                                        {% for productSpecificationValue in cartProduct.specificationValues %}
                                            {% set relatedValue = transEntity(productSpecificationValue.relatedSpecificationValue) %}
                                            {% set relatedSpecification = transEntity(productSpecificationValue.relatedSpecificationValue.specification) %}
                                            <div class="col-xl-12 col-lg-12 col-12">
                                                {{ relatedSpecification.name }}: {{ relatedValue.name }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-xl-12 col-lg-12 col-12">
                                            {{ 'Qty'|trans }}: {{ cartProduct.quantity }}
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-12">
                                            {{ 'Price'|trans }}: {{ cartProduct.totalPrice }} {{ 'uah.'|trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row justify-content-end mt-3 text-end">
                            <div class="col-lg-6 col-12">
                                <div class="sub-title">
                                    {{ 'Total price'|trans }}: {{ cart.totalPrice}} {{ 'uah.'|trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}