{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ page.pageTitle }}{% endblock %}
{% block metaTitle %}{{ page.metaTitle }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}

{% block content %}
    <div class="container mt-3 mb-5">
        <div class="row justify-content-center text-center">
            <div class="col-12">
{#                <div class="card shadow-lg">#}
{#                    <div class="card-body">#}
                        <div class="alert alert-warning">
                            {{ page.content|raw }}
                        </div>
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-12">
                <div class="card shadow-lg mt-2">
                    <div class="card-header title">
                        {{ 'Your order'|trans }} #{{ order.orderNumber }}
                    </div>
                    <div class="card-body">
                        {% set cart = orderCart(order) %}
                        {% for cartProduct in cart.products %}
                            <div class="row">
                                {% set product = transEntity(cartProduct.product) %}
                                <div class="col-xl-1 col-lg-1 col-1">
                                    <img class="img-fluid"
                                         src="{{ asset(product.previewImage ? product.previewImage.file ? product.previewImage.file.relativePath : '' : '') }}">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-5">
                                    {{ product.name }}
                                </div>
                                <div class="col-xl-4 col-lg-4 col-5">
                                    <div class="container-fluid">
                                        <div class="row">
                                            {% for productSpecificationValue in cartProduct.specificationValues %}
                                                {% set relatedValue = transEntity(productSpecificationValue.relatedSpecificationValue) %}
                                                {% set relatedSpecification = transEntity(productSpecificationValue.relatedSpecificationValue.specification) %}
                                                <div class="col-xl-12 col-lg-12 col-12">
                                                    {{ relatedSpecification.name }}: {{ relatedValue.name }}
                                                </div>
                                            {% endfor %}
                                            <div class="col-xl-12 col-lg-12 col-12">
                                                {{ 'Qty'|trans }}: {{ cartProduct.quantity }}
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-12">
                                                {{ 'Price'|trans }}: {{ cartProduct.totalPrice }} {{ 'uah.'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-end mt-1 text-end">
                            <div class="col-lg-6 col-12">
                                <div class="sub-title">
                                    {{ 'Total price'|trans }}: {{ cart.totalPrice }} {{ 'uah.'|trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}