{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header text-center">
                <a href="{{ path('site_index') }}" class="btn btn-info mx-3 text-white">{{ 'Return to the site'|trans }}</a>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="{% block nav_dashboard %}{% endblock %}">
                                <a href="{{ path('admin_dashboard_index') }}">
                                    <i class="ti-dashboard"></i>
                                    <span class="nav-span">{{ 'Dashboard'|trans }}</span>
                                </a>
                            </li>
                            <li class="{% block nav_site %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers"></i><span class="nav-span">{{ 'Site'|trans }}</span></a>
                                <ul class="collapse">
                                    <li class="{% block nav_menu %}{% endblock %}">
                                        <a href="{{ path('admin_menu_links_index') }}">{{ 'Menu'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_pages %}{% endblock %}">
                                        <a href="{{ path('admin_pages_index') }}">{{ 'site_pages'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_banners %}{% endblock %}">
                                        <a href="{{ path('admin_main_banner_index') }}">{{ 'Banners'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_variables %}{% endblock %}">
                                        <a href="{{ path('admin_static_var_index') }}">{{ 'Variables'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_product %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dropbox"></i><span class="nav-span">{{ 'Products'|trans }}</span></a>
                                <ul class="collapse">
                                    <li class="{% block nav_products %}{% endblock %}">
                                        <a href="{{ path('admin_products_index') }}">{{ 'Products'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_product_categories %}{% endblock %}">
                                        <a href="{{ path('admin_product_categories_index') }}">{{ 'Categories'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_specifications %}{% endblock %}">
                                        <a href="{{ path('admin_specifications_index') }}">{{ 'Specifications'|trans }}</a>
                                    </li>
                                    <li class="{% block nav_brands %}{% endblock %}">
                                        <a href="{{ path('admin_brands_index') }}">{{ 'Brands'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_commerce %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-money"></i><span class="nav-span">{{ 'Commerce'|trans }}</span></a>
                                <ul class="collapse">
                                    <li class="{% block nav_orders %}{% endblock %}">
                                        <a href="{{ path('admin_orders_index') }}">{{ 'Orders'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_users %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span class="nav-span">{{ 'Users'|trans }}</span></a>
                                <ul class="collapse">
                                    <li class="{% block nav_users_list %}{% endblock %}">
                                        <a href="{{ path('admin_users_index') }}">{{ 'Users'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_media_storage %}{% endblock %}">
                                <a href="{{ path('admin_media_storage_index') }}">
                                    <i class="ti-files"></i>
                                    <span class="nav-span">{{ 'Media storage'|trans }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_logout') }}">
                                    <i class="ti-close"></i>
                                    <span class="nav-span">{{ 'Logout'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left"></div>
                    </div>
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li class="dropdown">
                                <i class="ti-world dropdown-toggle" data-toggle="dropdown"></i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <div class="card">
                                        <div class="card-body" style="overflow: scroll; max-height: 500px">
                                            <h4 class="header-title">{{ 'Languages'|trans }}</h4>
                                            <div class="timeline-area">
                                                {% set route = app.request.attributes.get('_route') %}
                                                {% set route_params = app.request.attributes.get('_route_params') %}
                                                {% set params = route_params|merge(app.request.query.all) %}
                                                {% set locales = ['ru', 'en'] %}
                                                <div class="timeline-task">
                                                    {% for locale in locales %}
                                                        <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">
                                                            <img width="45px" height="32px" src="{{ asset('images/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}"> <span style="margin-left: 20px;">{{ locale|upper }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">{% block pageTitle %}{% endblock %}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>© Copyright {{ 'now'|date('Y') }}. {{ 'All rights reserved'|trans }}. Title-Boxing</p>
            </div>
        </footer>
    </div>

    <div id="toast-container"></div>
{% endblock %}