<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin Dashboard | Title-Boxing{% endblock %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
        {% block headJs %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% embed '_js_globals.html.twig' %}{% endembed %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}

        {% block modals %}
            {% embed 'admin/modals/_delete_confirmation_modal.html.twig' %}{% endembed %}
        {% endblock %}
    </body>
</html>
