<div class="modal fade" id="import-products" tabindex="-1" role="dialog" aria-labelledby="exportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalTitle">{{ 'Import'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('admin_product_import_index') }}" method="post" id="exportForm" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <select id="exportType" class="form-control" name="extension">
                                <option value="xlsx">XLSX</option>
                            </select>
                            <small class="form-text text-muted">{{ 'Which format?'|trans }}</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input name="not_create_duplicate" type="checkbox" class="custom-control-input" id="ignore-duplicates">
                                <label class="custom-control-label" for="ignore-duplicates">{{ 'Dont create duplicates'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <input type="file" name="file">
                        </div>
                    </div>
                    <input id="exportBtn" type="submit" class="btn btn-flat btn-primary" value="{{ 'Import'|trans }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
