{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST">
                    <div class="login-form-head">
                        <h4>{{ 'Sign In'|trans }}</h4>
                    </div>
                    <div class="login-form-body">
                        {% if error is defined and error %}
                            <div class="text-center alert alert-danger mt-1 mb-5">
                                {{ error.message }}
                            </div>
                        {% endif %}
                        <div class="form-gp">
                            <label for="login">{{ 'Login'|trans }}</label>
                            <input type="text" id="login" name="login">
                            <i class="ti-user"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="password">{{ 'Password'|trans }}</label>
                            <input type="password" id="password" name="password">
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked style="display: none"/>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">{{ 'Sign In'|trans }} <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
