{% extends 'user_ui/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_history %}active{% endblock %}

{% block uiTitle %}
    <div class="ui-title">
        <i class="fa fa-shopping-bag"></i>
        <span>{{ 'Orders history'|trans }}</span>
    </div>
{% endblock %}

{% block ui %}
    {% for order in app.user.orders %}
        <div class="row mt-3">
            <div class="container">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="ui-title">
                            <i class="far fa-calendar"></i>
                            {{ order.creationDate|date('d.m.Y H:i:s') }}
                            <h5>{{ 'Order status'|trans }}: {{ badgeStatus(order)|raw }}</h5>
                        </div>
                            {% set cart = orderCart(order) %}
                        <div class="mt-4">
                            {% for cartProduct in cart.products %}
                                <div class="row">
                                    {% set product = transEntity(cartProduct.product) %}
                                    <div class="col-xl-2 col-lg-2 col-2">
                                        <img class="img-fluid" src="{{ asset(product.previewImage ? product.previewImage.file ? product.previewImage.file.relativePath : '' : '') }}">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-5">
                                        {{ product.name }}
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-5">
                                        <div class="container-fluid">
                                            <div class="row">
                                                {% for productSpecificationValue in cartProduct.specificationValues %}
                                                    {% set relatedValue = transEntity(productSpecificationValue.relatedSpecificationValue) %}
                                                    {% set relatedSpecification = transEntity(productSpecificationValue.relatedSpecificationValue.specification) %}
                                                    <div class="col-xl-12 col-lg-12 col-12">
                                                        {{ relatedSpecification.name }}: {{ relatedValue.name }}
                                                    </div>
                                                {% endfor %}
                                                <div class="col-xl-12 col-lg-12 col-12">
                                                    {{ 'Qty'|trans }}: {{ cartProduct.quantity }}
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-12">
                                                    {{ 'Price'|trans }}: {{ cartProduct.totalPrice }} {{ 'uah.'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row justify-content-end mt-1 text-end">
                                <div class="col-lg-6 col-12">
                                    <div class="sub-title">
                                        {{ 'Total price'|trans }}: {{ cart.totalPrice }} {{ 'uah.'|trans }}
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end mt-1 text-end">
                                <div class="col-lg-6 col-12">
                                    <a class="btn btn-dark" href="{{ path('user_orders_re_order', {'id': order.id}) }}">{{ 'Re-order'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}