{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ page.pageTitle }}{% endblock %}
{% block metaTitle %}{{ page.metaTitle }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-3 g-3">
            {% for brand in brands %}
                {% set brand = transEntity(brand) %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                    <div class="card">
                        <img
                                src="{{ asset(brand.image ? brand.image.relativePath : '') }}"
                                class="card-img-top"
                                alt="{{ brand.altText }}"
                        >
                        <div class="card-body">
                            <h5 class="card-title">{{ brand.name }}</h5>
                            <a href="{{ path('site_catalog_index', {filters: '{"specifications":[],"min_price":0,"max_price":12499,"brands":[' ~ brand.id ~ '],"search":""}'}) }}" class="btn btn-dark">{{ 'Products'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}