{% extends 'admin/admin_layout.html.twig' %}

{% block pageTitle %}
    <a href="{{ path('admin_specifications_edit', {'id': specification.id}) }}">{{ 'Back to specification'|trans }}</a>
{% endblock %}
{% block nav_product %}active{% endblock %}
{% block nav_specifications %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_specification_values_create_translation', {'id': specification.id, 'valueId': specificationValue.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in specificationValue.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale }}</td>
                                                <td>{{ translation.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_specification_values_edit_translation', {'id': specification.id, 'transId': translation.id, 'valueId': specificationValue.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_specification_values_remove_translation', {'id': specification.id, 'transId': translation.id, 'valueId': specificationValue.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

