{% extends 'user_ui/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_liked_products %}active{% endblock %}

{% block uiTitle %}
    <div class="ui-title">
        <i class="far fa-heart"></i>
        <span>{{ 'Liked products'|trans }}</span>
    </div>
{% endblock %}

{% block ui %}
    <div class="row mt-3 px-4">
        <div class="container">
            {% if products|length == 0 %}
                <h6>{{ 'Found 0 liked products...'|trans }}</h6>
            {% endif %}
            <div class="container liked-products-slider">
                {% for product in products %}
                <div class="px-1">
                    {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}
                        {% block footer %}
                            <div>
                                <a href="{{ path('user_liked_products_clear_favourite', {'id': product.id}) }}" class="btn btn-danger">
                                    <i class="fa fa-trash-alt text-white"></i>
                                </a>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-3 px-4">
        <div class="col-4">
            <a href="{{ path('user_liked_products_clear') }}" class="btn btn-dark">
                {{ 'Remove all'|trans }}
            </a>
        </div>
    </div>
{% endblock %}