#categories-collapse {
  color: #1b1e21;
  font-weight: 700;
  background-color: #F8F9FA;

  .accordion-button {
    color: #1b1e21;
    font-weight: 700;
  }

  .accordion-button:not(.collapsed) {
    color: #9E0909;
  }

  .accordion-body {
    padding: 0;
  }

  .accordion-button {
    background-color: inherit;
  }

  .sub-categories-list {
    li {
      a {
        text-decoration: none;
        color: #1b1e21;

        &:hover {
          color: #9E0909;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1195px) {
  .product-row > .row > div {
    padding: 0 1rem 2rem 0;
  }
}

@media (min-width: 1650px) {
  .product-row > .row > div {
    padding: 0 5rem 2rem 0;
  }
}

.noUi-connect {
  background: black;
}