{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_product_categories %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_product_categories_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}{% endembed %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(categories, 'Id'|trans, 'c.id') }}</th>
                                            <th>{{ 'Parent category'|trans }}</th>
                                            <th>{{ knp_pagination_sortable(categories, 'Name'|trans, 'c.name') }}</th>
                                            <th>{{ knp_pagination_sortable(categories, 'Slug'|trans, 'c.slug') }}</th>
                                            <th>{{ knp_pagination_sortable(categories, 'Is visible'|trans, 'c.isVisble') }}</th>
                                            <th>{{ 'Products qty'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for category in categories %}
                                            <tr class="tr-hover">
                                                <td>{{ category.id }}</td>
                                                <td>
                                                    {% if category.category %}
                                                        <a class="custom-color text-info" href="{{ path('admin_product_categories_edit', {'id': category.category.id}) }}">{{ category.category.name }}</a>
                                                    {% else %}
                                                        {{ 'Not set'|trans }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ category.name }}</td>
                                                <td>{{ category.slug }}</td>
                                                <td>{{ category.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>{{ category.products|length }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_categories_edit', {'id': category.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_categories_remove', {'id': category.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(categories, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}