{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_banners %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('admin_main_banner_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Id'|trans }}</th>
                                            <th>{{ 'Alternative text'|trans }}</th>
                                            <th>{{ 'Image'|trans }}</th>
                                            <th>{{ 'Is visible'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for banner in banners %}
                                            <tr class="tr-hover">
                                                <td>{{ banner.id }}</td>
                                                <td>{{ banner.altText }}</td>
                                                <td>
                                                    <img height="128px" width="128px" src="{{ banner.file ? asset(banner.file.relativePath) : '' }}">
                                                </td>
                                                <td>
                                                    {{ banner.isVisible ? 'Yes'|trans : 'No'|trans }}
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_main_banner_edit', {'id': banner.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_main_banner_remove', {'id': banner.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}