{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_brands %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('admin_brands_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Id'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th>{{ 'Image'|trans }}</th>
                                            <th>{{ 'Is visible'|trans }}</th>
                                            <th>{{ 'Products qty'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for brand in brands %}
                                            <tr class="tr-hover">
                                                <td>{{ brand.id }}</td>
                                                <td>{{ brand.name }}</td>
                                                <td>
                                                    <img height="64px" width="64px" src="{{ brand.image ? asset(brand.image.relativePath) : '' }}">
                                                </td>
                                                <td>
                                                    {{ brand.isVisible ? 'Yes'|trans : 'No'|trans }}
                                                </td>
                                                <td>{{ brand.products|length }}</td>
                                                <td>
                                                    <a href="{{ path('admin_brands_edit', {'id': brand.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_brands_remove', {'id': brand.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}