.product-description {
  font-weight: 500;
}

.variety {
  font-weight: 600;
}

.add-to-fav {
  font-size: 1.2rem;
  font-weight: 600;
  color: #9E0909;

  &:hover {
    color: #9E0909;
    font-weight: 700;
  }
}

.hearts {
  color: #9E0909;

  i:not(:first-child) {
    margin-left: 3px;
  }
}

.card-width {
  .card {
    max-width: 240px;
  }
}

@media (max-width: 750px) {
  .mob-mt {
    margin-top: 10px;
  }
}

.slider-img {
  min-height: 82px;
}

.hearts {
  span:not(:first-child) {
    margin-left: 3px;
  }

  div:focus {
    outline: none;
  }
}

.old-price, .new-price, .price {
  font-weight: 600;
  font-size: 2.4rem;
}

.old-price {
  text-decoration: line-through;
  color: black;
}

.new-price {
  color: #9E0909;
  margin-left: 5px;
}