{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ product.pageTitle }}{% endblock %}
{% block metaTitle %}{{ product.metaTitle }}{% endblock %}
{% block metaDescription %}{{ product.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ product.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const PRODUCT = {{ product.id }};
        const PRODUCT_PRICE = {{ product.price }};
        const PRODUCT_SALE_PRICE = {{ product.salePrice ? product.salePrice : 0 }};
        const PRODUCT_IS_ON_SALE = {{ product.isOnSale ? 'true' : 'false' }};

        const COMMENT_ADDED_MESSAGE = '{{ 'Your comment is successfully added!'|trans }}';
        const LOAD_MORE = '{{ 'Load more'|trans }}';
        const ADD_COMMENT_HEADER = '{{ 'Write a comment'|trans }}';
        const WHAT_IS_YOUR_NAME = '{{ 'What is your name?'|trans }}';
        const YOUR_RATING = '{{ 'Your rate'|trans }}';
        const YOUR_TEXT = '{{ 'Your comment'|trans }}';
        const PUBLISH_BUTTON = '{{ 'Publish'|trans }}';
        const NAME_CANNOT_BE_EMPTY = '{{ 'Name cannot be empty'|trans }}';
        const COMMENT_CANNOT_BE_EMPTY = '{{ 'Comment cannot be empty'|trans }}';
        const NO_COMMENTS = '{{ 'None comments found'|trans }}';

        const UAH = '{{ 'uah.'|trans }}';
        const ADD_TO_CART = '{{ 'Add to cart'|trans }}';
        const IN_CART = '{{ 'In cart'|trans }}';
        const IN_FAVOURITES = '{{ 'In favourties'|trans }}';
        const IS_PRODUCT_IN_CART = {{ inCart ? 'true' : 'false' }};
        const IS_PRODUCT_IN_FAV = {{ inFav ? 'true' : 'false' }};

        const IS_PRE_ORDER = {{ product.marking == constant('App\\Domain\\Entity\\Product\\Product::MARKING_PRE_ORDER') ? 'true' : 'false' }};
    </script>
    {{ encore_entry_script_tags('site-product') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('site-product') }}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="product-images-slick-main">
                            {% set images = transMultipleEntities(product.images) %}
                            {% for img in images %}
                                <div>
                                    <img alt="{{ img.altText }}" href="{{ asset(img.file ? img.file.relativePath : '') }}" class="img-fluid slider-img-main slider-img w-100" src="{{ asset(img.file ? img.file.relativePath : '') }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="mt-1 px-2">
                    <div class="card-body">
                        <div class="product-images-slick">
                            {% for img in images %}
                                <div data-slide="{{ loop.index0 }}" class="px-1" data-related-specification-value="{{ img.specificationValue ? img.specificationValue.id : 'null' }}">
                                    <div class="card shadow-sm">
                                        <img alt="{{ img.altText }}" class="img-fluid slider-img" src="{{ asset(img.file ? img.file.relativePath : '') }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-12 mob-mt">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="title">{{ product.name }}</div>
                        <div id="add-to-cart"></div>
                        <div class="product-description mt-1">
                            {{ product.description|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if recommendedProducts|length > 1 %}
    <div class="container mt-5">
        <div class="row">
            <div class="title">{{ 'Recommended products'|trans }}</div>
        </div>
        <div class="container product-row-slider">
{#            {% for productSpecification in product.specifications %}#}
{#                {% if productSpecification.relatedSpecification.name == 'Цвет' %}#}
{#                    {% for productSpecificationValue in productSpecification.values %}#}
{#                        <div class="px-1">#}
{#                            {% embed 'site/modules/_product_card_variety.html.twig' with {'product': product, 'currentValue': productSpecificationValue} %}{% endembed %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
            {% for rowProduct in recommendedProducts %}
                {% if rowProduct.vendorCode != product.vendorCode %}
                <div class="px-1">
                    {% embed 'site/modules/_product_card.html.twig' with {'product': rowProduct} %}{% endembed %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container mb-5 mt-3">
        <div class="row">
            <div class="title">{{ 'Comments about the product'|trans }}</div>
        </div>
        <div class="row">
            <div class="container" id="product-comments"></div>
        </div>
    </div>
{% endblock %}