{% extends 'user_ui/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_info %}active{% endblock %}

{% block uiTitle %}
    <div class="ui-title">
        <i class="far fa-edit"></i>
        <span>{{ 'Change profile information'|trans }}</span>
    </div>
{% endblock %}

{% block ui %}
    {{ form_start(form) }}
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="far fa-user-circle"></i>
                        {{ 'Private information'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6">
                                {{ form_row(form['name']) }}
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                {{ form_row(form['surname']) }}
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                {{ form_row(form['birthday']) }}
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                {{ form_row(form['gender']) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="far fa-id-card"></i>
                        {{ 'Contacts'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                {{ form_row(form['email']) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-6">
                                {{ form_row(form['phone']) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="fa fa-truck"></i>
                        {{ 'Address information'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                {{ form_row(form['city']) }}
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                {{ form_row(form['address']) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="mt-2">
                        <div class="row justify-content-end text-end">
                            <div class="col-lg-4 col-md-12 col-12">
                                {{ form_row(form['save']) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}