{% extends 'user_ui/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_password %}active{% endblock %}

{% block uiTitle %}
    <div class="ui-title">
        <i class="far fa-edit"></i>
        <span>{{ 'Change password'|trans }}</span>
    </div>
{% endblock %}

{% block ui %}
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div>
                        <div class="row" id="change-password-form">
                            {{ form_start(form) }}
                            <div class="col-lg-12 col-md-12 col-12">
                                <div>{{ form_row(form['old_password']) }}</div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div>{{ form_row(form['new_password']) }}</div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}