{% extends 'user_ui/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block nav_profile %}active{% endblock %}

{% block uiTitle %}
<div class="ui-title">
    <i class="far fa-user"></i>
    <span>{{ 'My profile'|trans }}</span>
</div>
{% endblock %}

{% block ui %}
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="far fa-user-circle"></i>
                        {{ 'Private information'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="sub-title">{{ 'Name'|trans }}</div>
                                <div>{{ app.user.name }}</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="sub-title">{{ 'Surname'|trans }}</div>
                                <div>{{ app.user.surname }}</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="sub-title">{{ 'Birthday'|trans }}</div>
                                <div>{{ app.user.birthday ? app.user.birthday|date('d.m.Y') : 'Not set'|trans }}</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="sub-title">{{ 'Gender'|trans }}</div>
                                {% set gender = 'Not set'|trans %}

                                {% if app.user.gender == constant('GENDER_MALE', app.user) %}
                                    {% set gender = 'Male'|trans %}
                                {% endif %}

                                {% if app.user.gender == constant('GENDER_FEMALE', app.user) %}
                                    {% set gender = 'Female'|trans %}
                                {% endif %}

                                <div>{{ gender }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="far fa-id-card"></i>
                        {{ 'Contacts'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <div class="sub-title">{{ 'Email'|trans }}</div>
                                <div>{{ app.user.email }}</div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-6">
                                <div class="sub-title">{{ 'Phone'|trans }}</div>
                                <div>{{ app.user.phone }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <div class="card shadow">
                <div class="card-body">
                    <div class="ui-title">
                        <i class="fa fa-truck"></i>
                        {{ 'Address information'|trans }}
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="sub-title">{{ 'City'|trans }}</div>
                                <div>{{ app.user.city }}</div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="sub-title">{{ 'Address'|trans }}</div>
                                <div>{{ app.user.address }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}