.files-list {
  margin-top: 25px;

  .image {
    .image-title {
      margin-left: 10px;
    }
    button {
      padding: 0;
    }
    .delete-button {
      font-size: 18px!important;
      margin-left: 10px;
      color: red;
    }
  }

  .directory {
    .directory-title {
      margin-left: 10px;
    }
    button {
      padding: 0;
    }
    .delete-button {
      font-size: 18px!important;
      margin-left: 10px;
      color: red;
    }
  }
}

.action-buttons {
  margin-top: 10px;

  button:not(:first-child) {
    margin-left: 15px;
  }
}