{% extends 'site/layout.html.twig' %}

{% block pageTitle %}{{ meta.pageTitle }}{% endblock %}
{% block metaTitle %}{{ meta.metaTitle }}{% endblock %}
{% block metaDescription %}{{ meta.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ meta.metaKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('site-catalog') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('site-catalog') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-xl-6 col-md-12 col-12 text-center">
                {% if not currentCategory and not currentSubCategory %}
                    <h1>{{ meta.pageTitle }}</h1>
                {% elseif currentCategory and not currentSubCategory %}
                    {% set currentCategory = transEntity(currentCategory) %}
                    <h1>{{ currentCategory.name }}</h1>
                {% elseif currentCategory and currentSubCategory %}
                    {% set currentSubCategory = transEntity(currentSubCategory) %}
                    <h1>{{ currentSubCategory.name }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                <div class="title">
                    {{ 'Categories'|trans }}
                </div>
                <div>
                    <div class="accordion shadow" id="categories-collapse">
                        {% for category in categories %}
                            {% set category = transEntity(category) %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="category-heading-{{ category.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#category-collapse-{{ category.id }}" aria-expanded="true"
                                            aria-controls="category-heading-{{ category.id }}">
                                        {{ category.name }}
                                    </button>
                                </h2>
                                <div id="category-collapse-{{ category.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne"
                                     data-bs-parent="#categories-collapse">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush w-100 sub-categories-list">
                                            {% for subCategory in category.subCategories %}
                                                {% if subCategory.isVisible %}
                                                    {% set subCategory = transEntity(subCategory) %}
                                                    <li class="list-group-item">
                                                        <a href="{{ path('site_catalog_category_and_sub_category', {'category': category.slug, 'subCategory': subCategory.slug}) }}">{{ subCategory.name }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li class="list-group-item">
                                                <a href="{{ path('site_catalog_category', {'category': category.slug}) }}">{{ 'All products'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-3 mb-3">
                    <button class="btn btn-transparent title dropdown-toggle" data-bs-toggle="collapse"
                            data-bs-target="#filters-collapse">
                        {{ 'Filters'|trans }}
                    </button>
                </div>
                <div id="filters-collapse" class="collapse">
                    <form method="get" id="catalog-form">
                        <div class="card shadow mb-1">
                            <div class="card-body">
                                <div class="sub-title mb-2">
                                    {{ 'Search'|trans }}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input value="{% if filters['search'] is defined %}{{ filters['search'] }}{% endif %}" class="form-control" type="text" id="catalog-search" placeholder="{{ 'Search'|trans }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-1">
                            <div class="card-body">
                                <div class="sub-title mb-2">
                                    {{ 'Price'|trans }}
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-12 px-4">
                                            <div id="price-slider"></div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="price-from">{{ 'From'|trans }}</label>
                                            </div>
                                            <div>
                                                <input id="price-from" class="form-control" type="text" placeholder="0" value="{% if filters['min_price'] is defined %}{{ filters['min_price'] }}{% else %}0{% endif %}">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="price-to">{{ 'To'|trans }}</label>
                                            </div>
                                            <div>
                                                <input id="price-to" class="form-control" type="text" placeholder="12499" value="{% if filters['max_price'] is defined %}{{ filters['max_price'] }}{% else %}12499{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-1">
                            <div class="card-body">
                                <div class="sub-title mb-2">
                                    {{ 'Brand'|trans }}
                                </div>

                                {% for brand in brands %}
                                    {% set brand = transEntity(brand) %}
                                    <div class="form-check">
                                        <input {% if filters['brands'] is defined and (brand.id in filters['brands']) %}checked{% endif %} data-id="{{ brand.id }}" class="form-check-input js-brand" type="checkbox" id="brand-{{ brand.id }}">
                                        <label class="form-check-label" for="brand-{{ brand.id }}">
                                            {{ brand.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for specification in specifications %}
                            {% set specification = transEntity(specification) %}
                            <div class="card shadow mb-1 js-specification" data-id="{{ specification.id }}">
                                <div class="card-body">
                                    <div class="sub-title mb-2">
                                        {{ specification.name }}
                                    </div>
                                    <div>
                                        {% for value in specification.values %}
                                            {% set value = transEntity(value) %}

                                            <div class="form-check">
                                                <input {% if currentValueId is defined %}checked{% endif %} data-id="{{ value.id }}"
                                                        {% if filters['specifications'] is defined %}
                                                            {% for spec in filters['specifications'] %}
                                                                {% if spec['id'] == specification.id %}
                                                                    {% for val in spec['values'] %}
                                                                        {% if val == value.id %}
                                                                            checked
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                       class="form-check-input" type="checkbox" value="{{ value.id }}"
                                                       id="specification-value-{{ value.id }}"
                                                >
                                                <label class="form-check-label" for="specification-value-{{ value.id }}">
                                                    {{ value.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="marking" value="{% if filters['marking'] is defined %}{{ filters['marking'] }}{% endif %}" id="catalog-marking">
                        <input type="hidden" name="filters" value="{}">
                        <div class="card shadow mb-3">
                            <div class="card-body text-center">
                                <button class="btn btn-light btn-lg">{{ 'Apply'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-12 mb-5 product-row">
                <div class="row g-1">
                    {% for product in products %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                            {% embed 'site/modules/_product_card.html.twig' with {'product': product} %}{% endembed %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center text-center mt-3">
                    <div class="col">
                        {{ knp_pagination_render(products, 'site/patterns/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}