{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_products_create_translation', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in product.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale }}</td>
                                                <td>{{ translation.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_products_edit_translation', {'id': product.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_products_remove_translation', {'id': product.id, 'transId': translation.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Images'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_images_create', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add image'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Image'|trans }}</th>
                                            <th>{{ 'Is preview'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for image in product.images %}
                                            <tr class="tr-hover">
                                                <td>
                                                    <img height="64px" width="64px" src="{{ image.file ? asset(image.file.relativePath) : '' }}">
                                                </td>
                                                <td>{{ image.isPreview ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_images_edit', {'id': product.id, 'imageId': image.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_product_images_remove', {'id': product.id, 'imageId': image.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Specifications'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_specifications_create', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add specification'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Related specification'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for productSpecification in product.specifications %}
                                            <tr class="tr-hover">
                                                <td>{{ productSpecification.relatedSpecification.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_specifications_edit', {'id': product.id, 'productSpecificationId': productSpecification.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_product_specifications_remove', {'id': product.id, 'productSpecificationId': productSpecification.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block headJs %}
    {{ parent() }}
    {% embed 'admin/modules/_tinymce.html.twig' with {'selector': 'product_description'} %}{% endembed %}
{% endblock %}

