{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-flat btn-success" data-toggle="collapse" data-target="#filters">{{ 'Filters'|trans }}</button>
                            <a href="{{ path('admin_products_create') }}" class="btn btn-flat btn-info text-white">{{ 'Create'|trans }}</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a href="{{ path('admin_products_export_xlsx') }}" class="btn btn-flat btn-success text-white">{{ 'Export to xlsx'|trans }}</a>
                            <button data-target="#export-collapse" data-toggle="collapse" class="btn btn-flat btn-success text-white">{{ 'Import from xlsx'|trans }}</button>
                        </div>
                        <div class="col-12 mt-3 collapse" id="export-collapse">
                            <form method="post" action="{{ path('admin_products_import_xlsx') }}" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="file" name="file">
                                        <input type="submit" class="btn btn-danger" value="{{ 'Apply'|trans }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12">
                            <div class="row mt-4">
                                {% embed 'admin/modules/_filters_body.html.twig' %}
                                    {% block customFilters %}
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-category">{{ 'Category'|trans }}</label>
                                                <select name="category" class="form-control js-selectize" id="filters-category">
                                                    <option value="">{{ 'Not set'|trans }}</option>
                                                    {% for category in categories %}
                                                        <option {% if app.request.query.get('category', '') == category.id %}selected{% endif%} value="{{ category.id }}">
                                                            {{ category.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-min-price">{{ 'Min price'|trans }}</label>
                                                <input value="{{ app.request.query.get('min_price', '') }}" id="filters-min-price" name="min_price" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-max-price">{{ 'Max price'|trans }}</label>
                                                <input value="{{ app.request.query.get('max_price', '') }}" id="filters-max-price" name="max_price" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="filters-brands">{{ 'Brands'|trans }}</label>
                                                <select multiple name="brands[]" class="form-control js-multiple-selectize" id="filters-brands">
                                                    <option value="">{{ 'Not set'|trans }}</option>
                                                    {% for brand in brands %}
                                                        <option {% if brand.id in app.request.query.get('brands', []) %}selected{% endif%} value="{{ brand.id }}">
                                                            {{ brand.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(products, 'Id'|trans, 'p.id') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Vendor code'|trans, 'p.vendorCode') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Category'|trans, 'pc.id') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Brand'|trans, 'pb.id') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Name'|trans, 'p.name') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Special marking'|trans, 'p.marking') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Is visible'|trans, 'p.isVisble') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Price'|trans, 'p.isVisble') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in products %}
                                            <tr class="tr-hover">
                                                <td>{{ product.id }}</td>
                                                <td>{{ product.vendorCode }}</td>
                                                <td>
                                                    {% for category in product.categories %}
                                                        <a class="custom-color text-info" href="{{ path('admin_product_categories_edit', {'id': category.id}) }}">{{ category.name }}</a>
                                                        <br/>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if product.brand %}
                                                        <a class="custom-color text-info" href="{{ path('admin_brands_edit', {'id': product.brand.id}) }}">{{ product.brand.name }}</a>
                                                    {% else %}
                                                        {{ 'Not set'|trans }}
                                                    {% endif%}
                                                </td>
                                                <td>{{ sliceString(product.name, 50) }}</td>
                                                <td>{{ product.marking|trans }}</td>
                                                <td>{{ product.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>{{ product.price|number_format }}</td>
                                                <td>
                                                    <a href="{{ path('admin_products_edit', {'id': product.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_products_remove', {'id': product.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ knp_pagination_render(products, 'admin/modules/_pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}